.canvasToolbar {
    position: absolute;
    top: 25vh;
    left: 0;
    width: 60px;
    height: 600px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 

    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 45px; 
    z-index: 4001;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc00;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    border-radius: 5px;
    fill: black;
    color: black;
    z-index: 4001;
}
  
.button:hover {
    background-color: #0091ff2a;
}

.selectedButton {
    background-color: #0091ff2a;
    color: #0055ff;
}
  