:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.global-loading,
html.global-loading * {
  cursor: wait !important;
  pointer-events: auto !important;
}

html.global-loading {
  cursor: wait !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.cursor-default { cursor: default; }
.cursor-grabbing { cursor: grabbing; }
.cursor-grab { cursor: grab; }
.cursor-crosshair { cursor: crosshair; }
.cursor-wait { cursor: wait; }
.cursor-pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-scissor { cursor: url('/cursors/Scissor_64_64.png') 16 16, auto; }
.cusor-cutting { cursor: url('/cursors/Scissor_Cut_64_64.png') 16 16, auto; }